table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #7ae770;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #5e70da;
}
/* responsive */
@media only screen and (max-width: 412px) {
    table {
      font-size: 12px;
    }
    th, td {
      padding: 4px;
    }
    /* Hide some columns to make the table more compact */
    th:nth-child(3), th:nth-child(6), th:nth-child(9), th:nth-child(11),
    td:nth-child(3), td:nth-child(6), td:nth-child(9), td:nth-child(11) {
      /*display: none*/
        
    }
    /* Make the remaining columns take up more space */
    th:nth-child(1), th:nth-child(2), th:nth-child(4), th:nth-child(5), th:nth-child(7), th:nth-child(8), th:nth-child(10),
    td:nth-child(1), td:nth-child(2), td:nth-child(4), td:nth-child(5), td:nth-child(7), td:nth-child(8), td:nth-child(10) {
      width: 20%;
    }
  }